# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
读取数据及拟合/.vs/读取数据及拟合/v15/.suo
读取数据及拟合/.vs/读取数据及拟合/v15/Browse.VC.db
读取数据及拟合/.vs/读取数据及拟合/v15/Browse.VC.opendb
读取数据及拟合/.vs/读取数据及拟合/v15/ipch/ef8efa46d840b6e6.ipch
